* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.header {
  background-color: #181d23;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.subheading {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subheading h1 {
  font-size: 1.8rem;
  font-family: "Mystery Quest", cursive;
  color: #ff6347;
  margin: 0;
}

.menu {
  display: flex;
  gap: 15px;
  transition: transform 0.3s ease;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #ff6347;
  color: #333;
}

.search-bar {
  flex-grow: 1;
  max-width: 400px;
  margin-left: 20px;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.movie-list-container {
  margin: 16px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: center;
  max-width: 1200px;
}

.movie-card-container {
  color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card-container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}

.movie-star-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4vh;
}

.star-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.star-container img.star {
  width: 20px;
  height: auto;
  display: block;
}

.movie-average-vote {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  color: #ffdd57;
  text-align: center;
}

.movie-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.5em;
}

.movie-release-year {
  color: #30120d;
  font-weight: bolder;
}

.media-type {
  font-family: "Numans", sans-serif;
  color: #3f3d3d;
  padding: 6px;
  font-weight: 800;
  border-radius: 8px;
  background-color: #f5917f;
  cursor: pointer;
}

.favorite-btn {
  width: 100%;
  border: none;
  padding: 8px 12px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6347;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.favorite-btn:hover {
  background-color: #ff4500;
}

.favorite-btn.animate {
  transform: scale(1.2);
}

.favorite-btn.animate i {
  transform: rotate(360deg);
}

.search-box {
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  margin: 20px auto;
  width: 100%;
  max-width: 900px;
}

.search-bar input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: none;
  outline: none;
}

.fa-search {
  background-color: #ff6347;
  color: #fff;
  padding: 13.5px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.fa-search:hover {
  background-color: #ff4500;
}

.trending-h2 {
  color: #050505;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.trending-h2.animate {
  animation: pulse 1.5s ease-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #323c49;
  height: 100vh;
}

.home-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff6f61;
  margin-bottom: 20px;
}

.home-subtitle {
  font-size: 1.2rem;
  color: #f5ebeb;
  margin-bottom: 30px;
  max-width: 700px;
}

.home-explore-button {
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #ff6f61;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-explore-button:hover {
  background-color: #e85e53;
  transform: scale(1.05);
}

.home-explore-button a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .search-bar {
    order: 3;
    width: 100%;
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }

  .menu {
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #181d23;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-150%);
    opacity: 0;
    visibility: hidden;
  }

  .menu.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .home-title {
    font-size: 2rem;
  }

  .home-subtitle {
    font-size: 1rem;
  }

  .search-bar input {
    width: 100%;
  }

  .movie-card-container {
    max-width: 150px;
  }

  .trending-h2 {
    font-size: 20px;
  }
}

.no-movie {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 30px;
  color: #ff6347;
}
